[submodule "CLIP"]
	path = CLIP
	url = https://github.com/openai/CLIP.git
[submodule "simulacra_aesthetic_models"]
	path = simulacra_aesthetic_models
	url = https://github.com/crowsonkb/simulacra-aesthetic-models
[submodule "aesthetic-predictor"]
	path = aesthetic-predictor
	url = https://github.com/LAION-AI/aesthetic-predictor.git
